

/* body {

  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
} */

.botao {
  position: relative;
  width: 90px;
  text-align: center;
  padding: 1px;
}
